<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript</title>

    <!-- boilerplate/web-frameworks -->
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" type="image/ico" href="icons/icon.ico" />    
    <link rel="stylesheet" href="styles/style.css"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />   
    <link rel="stylesheet" href="deps/bootstrap.css" />
    <script src="deps/angular.js"></script>
    <script src="deps/jquery.js"></script> 
    <script src="deps/bootstrap.js"></script>
    <script src="deps/underscore.js"></script>    
    <script src="deps/glm_1.js"></script>
    <script src="deps/glm_2.js"></script>
    <script src="app.js"></script>
  </head>
  <body data-ng-app="app">
    <nav class="navbar navbar-inverse navbar-static-top" style="position: absolute; top: 0px; left: 0px; width: 100vw;  overflow-x: hidden">
      <ul class="nav navbar-nav">
        <li><a href="javascript:void(0)" data-ng-click="activeView='console-responses.html'">Console Responses</a></li>
        <li><a href="javascript:void(0)" data-ng-click="activeView='script-editor.html'">Script Editor</a></li>
        <li><a href="javascript:void(0)" data-ng-click="activeView='help.html'">Help</a></li>
      </ul>
    </nav>
    
    <div data-ng-include="activeView" style="position: absolute; box-sizing: border-box; padding-top: 50px; width: 100%; height: 100%;"></div>
  
    <div id="template-cache">
      <script type="text/ng-template" id="console-responses.html">        
        <div style="width: 100%; height: 100%; box-sizing: border-box; padding-bottom: 20px;">
          <textarea 
             data-ng-model="model.consoleResponseText" 
             style="width: 100%; height: 100%; font-family: Courier New; font-size: 10pt; font-weight: bold;">
          </textarea>
        </div>
      </script>

      <script type="text/ng-template" id="script-editor.html">
        <div data-ng-controller="scriptEditorCtrl" style="width: 100%; height: 100%; overflow-x: hidden;">
          <nav class="navbar navbar-inverse navbar-static-top" style="font-size: 8pt !important; padding: 0px !important;">
            <ul class="nav navbar-nav">
              <li><a href="javascript:void(0)" data-ng-click="run()">Run the Script</a></li>
              <li><a href="javascript:void(0)" data-ng-click="clearConsoleResponseText()">Clear the Response Tab</a></li>
              <li><a href="javascript:void(0)" data-ng-click="clearScriptEditorText()">Clear the Script Editor</a></li>
            </ul>
          </nav>

          <textarea data-ng-model="model.scriptEditorText" style="position: absolute; bottom:0px; left: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 2px; padding-top: 102px; font-family: Courier New; font-size: 10pt; font-weight: bold;"></textarea>
        </div>
      </script>

      <script type="text/ng-template" id="help.html">
        <div data-ng-controller="scriptEditorCtrl" style="width: 100%; height: 100%; overflow-x: hidden;">
<pre>
BASIC USAGE:

The "Script Editor" tab can be used to enter code you wish to run. When you run your code, 
the result of the code is displayed in the "Console Responses" tab. If there are multiple 
statements in the script, only the result of the last statement in the script is going to 
be logged to the "Console Responses" tab. You can use the display() function instead of 
console.log to display the line directly to the "Console Responses tab".

Below is a brief list of global functions, some of which can be accessed through array's dot directly:
    max, min, floor, ceil, trunc, combination, permutation,
    mean, median, mode, e, pi, ln(base e), log(base 10), 
    product, sum, sqrt, display, randInt0, randInt1.

SAMPLE USE CASES(more advanced ones are listed in sections below):
    1. 2 + 2
    2. ln(2) + pi
    3. pi**2
    4. e**(pi*sqrt(e))
    5. combination(3, 2)
    6. permutation(3, 2)
    7. randInt0(100) // random integer between 0 and 100
    8. randInt1(100) // random integer between 1 and 100
    9. random() // random floating point number between 0 and 1
    10. range(100) // Generates a sequence of numbers 0..100
    11. range(100).map(() => randInt0(100)) generates a sequence of numbers 1..100
    12. range(100).map(random) generates 100 random numbers between 0 and 1
    13. range(100).map(x => trunc(random() * 100)) generates 100 random numbers 0 through 99
    14. 
let x = range(100).map(x => trunc(random() * 100));
display("sequence: " + x);
display("sum: " + x.sum());
display("mean: " + x.mean());
display("mean: " + x.median());
display("mean: " + x.mode());
    15.
display([2, 3, 4].mean()) // (2 + 3 + 4)/3 = 3 
display([1, 2, 3].max())  // 3
[1, 9, 10].max().display(); // 10
        
    16. 
window.comb = combination;  // Alias combination to "comb" as it is shorter, you can also name "c".
comb(3, 2);                 // 3C2 = 3    

In addition to the services above, Lambda Calculator offers a few lambda calculus functions,
that is, anonymous functions.

here is an example:

let f = x => 2;         // f(x) = 2
let g = x => 3 * x;     // g(x) = 3*x 
let h = compose(g, f);  // h = g . f = (x => g(f(x)))
display(h(2));          // 6

---
        
The Lambda Calculator allows you to experiment with JavaScript on the go or
help doing advanced statistics expressions. 

The Lambda Calculator is an internet isolated web application, it does not use any
external resources, nor collect any data. 
        
Lambda Calculator is implemented using a browser control and uses internally-packed 
HTML/CSS/JavaScript resources.

---        
</pre>          
        </div>
      </script>
      
    </div>
  </body>
</html>
